@import '../../../assets/estilos/index';

/* Estilos del layout */
::ng-deep {
  .mat-mdc-sidenav {
    border-radius: 0 !important;
  }

  .mat-drawer {
    border-radius: 0 !important;
  }

  /* Fondo del contenedor con gradiente */
  .mat-drawer-container {
    html.dark-theme & {
      background: $dark-bg-gradient;
    }

    html:not(.dark-theme) & {
      background: $light-bg-gradient;
    }
  }
}
